{% extends "layout.html" %}
{% block body %}

<div class="block1">
<h1>Hello {{name}}!</h1>
  <h2>Here is an interesting quote for you: </h2>
  <p>
"The limits of my language are the limits of my mind. All I know is what I have words for."
  </p>
<img src="https://www.google.com/imgres?imgurl=http%3A%2F%2Fwww.sena.edu.co%2FStyle%2520Library%2Falayout%2Fimages%2FlogoSena.png&imgrefurl=https%3A%2F%2Fwww.sena.edu.co%2F&tbnid=2wFfpbo25oXZFM&vet=12ahUKEwiTmK_087rxAhUvi4QIHe3zD7YQMygAegUIARDQAQ..i&docid=a1WFdnipadH-WM&w=436&h=400&q=sena&ved=2ahUKEwiTmK_087rxAhUvi4QIHe3zD7YQMygAegUIARDQAQ">
</div>
{% endblock %}
